<header class="header">
	<div class="header-menu-wrapper">
		<div class="container">
			<div class="logo">
				<a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyCAIAAAAlV+npAAAACXBIWXMAAC4jAAAuIwF4pT92AAABcElEQVR42u3bQYrCQBBA0b6PIAy4mI1HGVx6FaUXgvcQJTB3ED2D8Q7ZzSpWJ6N2JyZWxsXQ7Q/lwqQtyCNVdhZlfqpjl31/zeYfk+lo/EncQkCERXBqJSOfxXKFS38IkcMSNiw0IVBGHjMgNCFQhj6l718GBX2ABRZYYIEFFgEWWGCBBRZYBFj/i2WPRVmetn1rNnnpHefN42XZqXy+TJcqVqyKoDja6xl7kOXN9e2TNUq4TJUqXqz1Xq7lWfP89iw3vbcdX32vO40uVcRYnXcS3LlDaStUPy/yzA5JFTGWKxOvajouueJ6Wkq6VDFjhXXUblJVe1b8P2hTvSFW3bZvR30pfaxXy9DLnH4Z6rpyd4f2Myff4F/cOoSZk986DNyUFod1s3MF9ZXKprR1BB33T687j5+XyF93eJEmwAILLLDAAosACyywwAILLMJhMTQwYGiAcZQB4ygMOinDDToxQqeJ3xE6hjP7+5Q/nHkB2j/laze62rEAAAAASUVORK5CYII=" alt="logo"></a>
			</div>
			<div class="nav-drop">
				<nav class="nav">
					<ul class="header-menu">
						<li class="current-menu-item">
							<a href="#">Item 1</a>
							<ul>
								<li><a href="#">Item 2-1</a></li>
								<li><a href="#">Item 2-2</a></li>
								<li><a href="#">Item 2-3</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Item 2</a>
							<ul>
								<li>
									<a href="#">Item 2-1</a>
									<ul>
										<li>
											<a href="#">Item 3-1</a>
											<ul>
												<li><a href="#">Item 4-1</a></li>
												<li><a href="#">Item 4-2</a></li>
												<li><a href="#">Item 4-3</a></li>
											</ul>
										</li>
										<li><a href="#">Item 3-2</a></li>
										<li><a href="#">Item 3-3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Item 2-2</a>
									<ul>
										<li><a href="#">Item 2-1</a></li>
										<li><a href="#">Item 2-2</a></li>
										<li><a href="#">Item 2-3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Item 2-3</a>
									<ul>
										<li><a href="#">Item 2-1</a></li>
										<li><a href="#">Item 2-2</a></li>
										<li><a href="#">Item 2-3</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="has-mega-menu">
							<a href="#">Mega 3</a>
							<ul class="mega-menu">
								<li>
									<div class="col">
										<h2>Heading 1</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit velit, ultricies eget porta ac.</p>
										<ul>
											<li><a href="#">Regular link 1</a></li>
											<li><a href="#">Regular link 2</a></li>
										</ul>
									</div>
									<div class="col">
										<h2>Heading 2</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit velit, ultricies eget porta ac.</p>
										<ul>
											<li><a href="#">Regular link 1</a></li>
											<li><a href="#">Regular link 2</a></li>
										</ul>
									</div>
									<div class="col">
										<h2>Heading 3</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum elit velit, ultricies eget porta ac.</p>
										<ul>
											<li><a href="#">Regular link 1</a></li>
											<li><a href="#">Regular link 2</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Item 4</a>
							<ul>
								<li><a href="#">Item 2-1</a></li>
								<li>
									<a href="#">Item 2-2</a>
									<ul>
										<li><a href="#">Item 2-1</a></li>
										<li><a href="#">Item 2-2</a></li>
										<li><a href="#">Item 2-3</a></li>
									</ul>
								</li>
								<li><a href="#">Item 2-3</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<button class="nav-opener"><span></span></button>
		</div>
	</div>
</header>
