<!DOCTYPE html>
<html lang="en">

<head>
	<!-- MAIN META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, width=device-width, height=device-height, viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<!-- FAVICON -->
	<link rel="shortcut icon" type="image/png" href="./assets/media/favicon/favicon.ico">
	<!-- FONTS -->
	<!-- &display=swap&subset=cyrillic-ext -->
	<!-- MAIN STYLES -->
	<!-- build:css-root -->
	<link media="all" rel="stylesheet" href="./assets/css/root.css">
	<!-- endbuild -->
	<!-- build:css -->
	<link media="all" rel="stylesheet" href="./assets/css/style.css">
	<!-- endbuild -->
	<!-- To support css variables in ie11 -->
	<script>window.MSInputMethodContext && document.documentMode && document.write('<script src="./assets/js/vendors/ie11CustomProperties.min.js"><\/script>');</script>
