<section class="exercise-1">

	<div class="container">


		<h1>Custom input-like select</h1>

		<div class="select-custom">
			<label for="someItems" class="select-custom__label visually-hidden">Choose something</label>
			<select name="someItems" id="someItems" class="select-custom__wrapper" data-custom-select>
				<option value="item1" class="select-custom_opt">Item 1</option>
				<option value="item2" class="select-custom__opt">Item 2</option>
				<option value="item3" class="select-custom__opt">Item 3</option>
				<option value="item4" class="select-custom__opt">Item 4</option>
				<option value="item5" class="select-custom__opt">Item 5</option>
				<option value="item6" class="select-custom__opt">Item 6</option>
			</select>
		</div>

	</div>

</section>
