.nav-active {
	overflow: hidden;
}

.nav-drop {
	transition: all var(--animation-duration) var(--animation-timing-function);
}

.nav {
	transition: all var(--animation-duration) var(--animation-timing-function);

	ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		position: relative;
		padding: 0;
		margin: 0;

		&::after,
		&::before {
			display: none;
		}

		// Dropdown level
		> ul {
			position: absolute;
			display: none;
			background-color: $menu-main-bg-color;
			box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.2);

			a {
				color: inherit;
			}

			.sub-arrow {
				border-color: transparent transparent transparent var(--base-text-color);
				border-style: dashed dashed dashed solid;
			}
		}

		&.nav-sm-reverse {
			& > ul {
				&::before {
					right: 1.7rem;
					left: auto;
				}
			}
		}
	}

	a {
		position: relative;
		display: block;
		padding: 1rem 1.5rem;
		color: inherit;

		&:hover,
		&.highlighted {
			background-color: darken($menu-main-bg-color, 5%);
		}

		&.has-submenu {
			padding-right: 2.5rem;
		}

		.sub-arrow {
			position: absolute;
			top: 50%;
			right: 0.5rem;
			width: 0;
			height: 0;
			margin: 0;
			border-color: var(--base-text-color) transparent transparent transparent;
			border-style: solid dashed dashed dashed;
			border-width: 0.5rem;
			transform: translateY(-50%);
		}
	}

	.has-mega-menu {
		position: static !important;

		.mega-menu {
			right: 0 !important;
			width: auto !important;
			max-width: none !important;
			margin-left: 0 !important;

			li {
				display: flex;
			}

			.col {
				width: 33.33%;
				padding: 1.5rem;

				ul {
					position: static;
					display: block;
					padding: 0 0 0 2rem;
					margin: 0;
					background: transparent;
				}

				li {
					display: list-item;
					margin: 0 0 0.5rem;
					color: inherit;
					list-style-type: disc;
				}

				a {
					display: inline;
					padding: 0;
					color: inherit;

					&:hover {
						background: transparent;
						opacity: 0.7;
					}
				}
			}
		}
	}
}

// This is a default wp class
.current-menu-item {
	& > a {
		opacity: 0.7;
	}
}

@include media("<=#{$menu-mobile-breakpoint}") {
	.nav-drop {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		max-height: 0;
		overflow: hidden;

		.nav-active & {
			max-height: 4000px;
		}
	}

	.nav {
		background-color: $menu-main-bg-color;
		transform: translateY(-100%);

		.nav-active & {
			transform: translateY(0);
		}

		ul {
			display: block;
		}

		li {
			& > ul {
				position: static;
				box-shadow: none;
			}
		}

		a {
			&.highlighted {
				.sub-arrow {
					&::before {
						content: "-";
					}
				}
			}

			.sub-arrow {
				right: 1.5rem;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 25px;
				height: 25px;
				margin: 0;
				background-color: darken($menu-main-bg-color, 30%);
				border: 0;
				border-radius: 0.4rem;

				&::before {
					color: #fff;
					content: "+";
				}
			}
		}

		.has-mega-menu {
			.mega-menu {
				li {
					display: block;
				}

				.col {
					width: 100%;
				}
			}
		}
	}
}
